#chat-form {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}
#chat-title {
    text-align: center;
}
input,
button {
    padding: 10px;
}
button {
    cursor: pointer;
}